@import "tailwindcss";

.layout {
  @apply flex flex-col h-screen;
}

.layout-header {
  @apply flex items-center justify-between w-full px-3 py-4;
}
.layout-header-left {
  background-color: var(--color-white-alpha-50);
  @apply flex items-center justify-start gap-1 py-1.5 pt-2.5 px-2.5 rounded-lg;
}
.layout-header-right {
  font-family: var(--font-junicode-semi-expanded);
  text-transform: capitalize;

  @apply flex items-center justify-center  gap-2 w-full text-sm;
}
.layout-header-title {
  @apply tracking-wide flex items-center justify-center;

  line-height: 0;
  margin: 0;
}

.layout-body {
  @apply flex flex-row h-full;
}

.layout-content {
  @apply flex-1;
}
